/* ------------------------- imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* ------------------------- variabes */
:root {
  /* colors */
  --green-color: #7acc2d;
  --white-color: #ffffff;
  --black-color: #313337;

  /* space */
  --space-10: 10px;

  /* font-size */
  --normal: 12px;

  /* box shadow */
  --box-shadow: 0px 2px 5px rgba(0,0,0,.1);
  --box-shadow-hover: 0px 2px 3px rgba(0,0,0,.2);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--normal);
  margin: 0;
  padding: 0;
}

/* ------------------------- nav bar section */
nav {
  align-items: center;
  background-color: var(--green-color);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: var(--space-10);
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

/* ------------------------- main section */
.main-section {
  height: 10rem;
  padding: 7%;
  text-align: center;
}

.main-section__title {
  font-size: 30px;
  margin: auto;
  width: auto;
}

.products {
  background-position: center top;
  background-image: url('../images/curve.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 10%;
}

.product {
  margin-top: -20%;
  padding: var(--space-10);
  width: 18.4rem;
}

.product h1 {
  margin: 0;
}

.product .content {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  padding: 15px;
}

.products .content:hover {
  box-shadow: var(--box-shadow-hover);
  transform: scale(1.05);
  transition: all .50s ease-out;
}

.product .content .img-content {
  text-align: center;
}

.product .content .img-content img {
  width: 100%;
}

.main-button {
  background-color: var(--green-color);
  border: none;
  border-radius: 2px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  padding: var(--space-10);
  width: 100%;
}

.main-button:hover {
  background-color: #5e9e22;
  cursor: pointer;
}

/* ------------------------- features section */
.feature-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.feature-section .features {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: 5% 20%;
}

.feature {
  width: 24%;
}

.feature .content .img-content {
  text-align: center;
}

.feature .content .img-content img {
  width: 76%;

}

/* ------------------------- review section */
.review-section {
  height: 400px;
}

.review-section__title {
  font-size: 30px;
  margin-top: 6rem;
  text-align: center;
}

.reviews {
  display: flex;
  height: 50px;
  justify-content: center;
}

.review {
  padding: var(--space-10);
  width: 14%;
}

.review .content {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.review .content .info{
  padding: 1rem;
}

.reviews .content:hover {
  box-shadow: var(--box-shadow-hover);
  transform: scale(1.05);
  transition: all .50s ease-out;
}

.review .content .img-content {
  text-align: center;
}

.review .content .img-content img {
  width: 100%;
}

/* ------------------------- footer section */
nav.footer {
  align-items: center;
  background-color: #313337;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: var(--space-10);
}

nav.footer .options{
  width: 100%;
}

nav.footer ul {
  display: flex;
  justify-content: space-between;
}

nav.footer li {
  padding: 0 20px;
  list-style: none;
}

nav.footer li a {
  color: var(--white-color);
  text-decoration: none;
}

nav.footer li a:hover {
  color: var(--white-color);
}

/* ------------------------- sell section */
.sell__pay {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  padding: var(--space-10);
}

.sell__image-container {
  margin: auto;
  max-width: 150px;
}

.sell .row {
  align-items: flex-start;
}

.sell form label {
  display: block;
  font-size: var(--normal);
  margin: 5px 0;
}

.sell form .data {
  border: 1px solid var(--black-color);
  border-radius: 2px;
  height: 35px;
  padding: 5px;
  width: 100%;
}

.sell .main-button {
  border: none;
  margin-top: 12px;
}
