body {
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.success a,
.success a:visited {
  color: var(--green-color);
  text-decoration: none;
}
