html,
body {
  font-family: Helvetica;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* ------------------------- nav bar section */

nav {
  align-items: center;
  background-color: #7acc2d;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: black;
  text-decoration: none;
}

nav li a:hover {
  color: white;
}

/* ------------------------- main section */

.main-section {
  padding: 20%;
  text-align: center;
}

.products {
  background-position: center top;
  background-image: url('../images/curve.png');
  background-size: cover;
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 10%;
}

.product {
  padding: 10px;
}

.product .content {
  background-color: white;
  padding: 20px;
}