html,
body {
  font-family: Helvetica;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  background-color: #7acc2d;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: black;
  text-decoration: none;
}

nav li a:hover {
  color: white;
}
